**/*.o
**/*.o.tmp

pro/*.h
pro/*.c

/way-displays

/tst-*

/tst/tmp/

/tst/tst-marshalling-2.c

actual.cfg
actual.log
actual.yaml
expected.cfg
expected.log
expected.yaml

log.actual
log.expected

/.ccls-cache
/.cache
compile_commands.json
