name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  all:
    runs-on: ubuntu-latest

    container:
      image: archlinux:multilib-devel

    defaults:
      run:
        # assume the runner user except where overridden by root
        shell: sh -ec "runuser runner {0}"

    steps:
      - name: container deps
        shell: sh -e {0}
        run: |
          pacman --noconfirm -Sy \
          clang \
          cmake \
          cmocka lib32-cmocka \
          cppcheck \
          git \
          lib32-systemd \
          libinput \
          llvm \
          ninja \
          valgrind \
          wayland lib32-wayland \
          wayland-protocols \
          yaml-cpp

      - uses: actions/checkout@v4

      # magic numbers and names not available in environment
      - name: set permissions
        shell: sh -e {0}
        run: |
          groupadd --gid 118 docker
          useradd -m -s /bin/sh --uid 1001 --gid docker runner
          chown -R runner:docker .

      - name: discover user
        run: |
          echo "--------"
          id
          echo "--------"
          pwd
          echo "--------"
          find .
          echo "--------"
          whoami
          echo "--------"
          ls -lahn
          echo "--------"
          env

      - name: build gcc
        run: make CC=gcc   CXX=g++     clean all

      - name: test gcc
        run: make CC=gcc   CXX=g++     clean test

      - name: build clang
        run: make CC=clang CXX=clang++ clean all

      - name: test clang
        run: make CC=clang CXX=clang++ clean test

      - name: cppcheck
        run: make                      clean cppcheck

      - name: test valgrind gcc
        run: make CC=gcc   CXX=g++     clean test-vg

      - name: test valgrind clang
        run: make CC=clang CXX=clang++ clean test-vg

      - name: package lib32-yaml-cpp
        run: |
          git clone https://aur.archlinux.org/lib32-yaml-cpp.git /tmp/lib32-yaml-cpp
          sed -i -E 's/-DYAML_CPP_BUILD_TESTS=ON/-DYAML_CPP_BUILD_TESTS=OFF/g' /tmp/lib32-yaml-cpp/PKGBUILD
          makepkg --nocheck OPTIONS=-debug PKGEXT='.pkg.tar' --dir /tmp/lib32-yaml-cpp

      - name: install lib32-yaml-cpp
        shell: sh -e {0}
        run: pacman -U --noconfirm /tmp/lib32-yaml-cpp/*.pkg.tar

      - name: test gcc 32-bit
        run: make CC=gcc   CXX=g++        MFLAGS=-m32 clean test

      - name: test clang 32-bit
        run: make CC=clang CXX=clang++    MFLAGS=-m32 clean test

      - name: test valgrind gcc 32-bit
        run: make CC=gcc      CXX=g++     MFLAGS=-m32 clean test-vg

      - name: test valgrind clang 32-bit
        run: make CC=clang    CXX=clang++ MFLAGS=-m32 clean test-vg

      - name: package include-what-you-use
        run: |
          git clone https://aur.archlinux.org/include-what-you-use.git /tmp/include-what-you-use
          makepkg OPTIONS=-debug PKGEXT='.pkg.tar' --dir /tmp/include-what-you-use

      - name: install include-what-you-use
        shell: sh -e {0}
        run: |
          pacman -U --noconfirm /tmp/include-what-you-use/*.pkg.tar

      - name: include-what-you-use
        run: make clean iwyu

