name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  all:
    runs-on: ubuntu-latest

    container:
      image: archlinux:multilib-devel

    steps:
      - name: deps
        run: |
          pacman --noconfirm -Sy

          pacman --noconfirm -S \
          clang \
          cmake \
          cmocka lib32-cmocka \
          cppcheck \
          git \
          libinput \
          llvm \
          llvm-libs \
          lib32-systemd \
          valgrind \
          wayland lib32-wayland \
          wayland-protocols \
          yaml-cpp

      - uses: actions/checkout@v4

      - name: build gcc
        run: make CC=gcc   CXX=g++                 clean way-displays

      - name: test gcc
        run: make CC=gcc   CXX=g++                 clean test

      - name: build clang
        run: make CC=clang CXX=clang++             clean way-displays

      - name: test clang
        run: make CC=clang CXX=clang++             clean test

      - name: compile gcc 32-bit
        run: make CC=gcc   CXX=g++     MFLAGS=-m32 clean compile

      - name: compile clang 32-bit
        run: make CC=clang CXX=clang++ MFLAGS=-m32 clean compile

      - name: test gcc 32-bit
        run: make CC=gcc   CXX=g++     MFLAGS=-m32 clean test

      - name: test clang 32-bit
        run: make CC=clang CXX=clang++ MFLAGS=-m32 clean test

      - name: valgrind gcc
        run: make CC=gcc   CXX=g++                 clean test-vg

      - name: valgrind clang
        run: make CC=clang CXX=clang++             clean test-vg

      - name: valgrind gcc 32-bit
        run: make CC=gcc   CXX=g++     MFLAGS=-m32 clean test-vg

      - name: valgrind clang 32-bit
        run: make CC=clang CXX=clang++ MFLAGS=-m32 clean test-vg

      - name: build/install iwyu
        run: |
          git clone https://github.com/include-what-you-use/include-what-you-use.git
          cd include-what-you-use
          git checkout 0.23
          mkdir build
          cd build
          cmake ..
          make install

      - name: iwyu
        run: make                      iwyu

