name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  all:
    runs-on: ubuntu-latest

    container:
      image: archlinux:multilib-devel
      options: --user="1001:118"

    env:
      DEBUGINFOD_URLS: "https://debuginfod.archlinux.org" # /etc/profile.d/debuginfod.sh is not run when entering the container
      RUNNER_USER: runner
      RUNNER_UID: 1001
      RUNNER_GROUP: docker
      RUNNER_GID: 118

    defaults:
      run:
        shell: sh -ec "su runner {0}"

    steps:
      - name: container deps
        run: |
          pacman --noconfirm -Sy \
          clang \
          cmake \
          cmocka lib32-cmocka \
          cppcheck \
          git \
          lib32-systemd \
          libinput \
          llvm \
          ninja \
          valgrind \
          wayland lib32-wayland \
          wayland-protocols \
          yaml-cpp

      - uses: actions/checkout@v4

      - name: build gcc
        run: make CC=gcc   CXX=g++     clean all

      - name: test gcc
        run: make CC=gcc   CXX=g++     clean test

      - name: build clang
        run: make CC=clang CXX=clang++ clean all

      - name: test clang
        run: make CC=clang CXX=clang++ clean test

      - name: cppcheck
        run: make                      clean cppcheck

      - name: test valgrind gcc
        run: make CC=gcc   CXX=g++     clean test-vg

      - name: test valgrind clang
        run: make CC=clang CXX=clang++ clean test-vg

      - name: install lib32-yaml-cpp
        run: |
          useradd makepkg || true
          su makepkg -c "git clone https://aur.archlinux.org/lib32-yaml-cpp.git /tmp/lib32-yaml-cpp"
          sed -i -E 's/-DYAML_CPP_BUILD_TESTS=ON/-DYAML_CPP_BUILD_TESTS=OFF/g' /tmp/lib32-yaml-cpp/PKGBUILD
          su makepkg -c "makepkg --nocheck OPTIONS=-debug PKGEXT='.pkg.tar' --dir /tmp/lib32-yaml-cpp"
          pacman -U --noconfirm /tmp/lib32-yaml-cpp/*.pkg.tar

      - name: test gcc 32-bit
        run: make CC=gcc   CXX=g++        MFLAGS=-m32 clean test

      - name: test clang 32-bit
        run: make CC=clang CXX=clang++    MFLAGS=-m32 clean test

      - name: test valgrind gcc 32-bit
        run: make CC=gcc      CXX=g++     MFLAGS=-m32 clean test-vg

      - name: test valgrind clang 32-bit
        run: make CC=clang    CXX=clang++ MFLAGS=-m32 clean test-vg

      - name: install include-what-you-use
        run: |
          useradd makepkg || true
          su makepkg -c "git clone https://aur.archlinux.org/include-what-you-use.git /tmp/include-what-you-use"
          su makepkg -c "makepkg OPTIONS=-debug PKGEXT='.pkg.tar' --dir /tmp/include-what-you-use"
          pacman -U --noconfirm /tmp/include-what-you-use/*.pkg.tar

      - name: include-what-you-use
        run: make clean iwyu

