name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: prepare
      run: sudo apt-get install -y yaml-cpp cppcheck
    - name: test
      run: make test
    - name: cppcheck
      run: make cppcheck

