name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: deps
      run: |
        sudo add-apt-repository universe
        sudo apt install clang wayland-protocols libwlroots-dev libyaml-cpp-dev cppcheck -y
    - name: test
      run: make test
    - name: cppcheck
      run: make cppcheck

