name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: deps
      run: |
        sudo add-apt-repository universe
        sudo apt install clang wayland-protocols libwlroots-dev libyaml-cpp-dev libcmocka-dev cppcheck -y
    - name: gcc
      run: make CC=gcc clean way-displays
    - name: clang
      run: make CC=clang clean way-displays
    - name: test
      run: make CC=clang test
    - name: cppcheck
      run: make CC=clang cppcheck

