name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: deps
      run: |
        sudo add-apt-repository universe
        sudo apt install docker -y
    - name: docker image
      run: make docker-image
    - name: build gcc
      run: make docker-build-gcc
    - name: build clang
      run: make docker-build-clang
    - name: test
      run: make docker-test
    - name: cppcheck
      run: make docker-cppcheck
