name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  all:
    runs-on: ubuntu-latest

    container:
      image: archlinux:multilib-devel

    defaults:
      run:
        # assume the runner user except where overridden by root
        shell: sh -ec "runuser runner {0}"

    env:
      # profile thus debuginfod.sh is not executed
      DEBUGINFOD_URLS: "https://debuginfod.archlinux.org"

    steps:
      - name: container deps
        shell: sh -e {0}
        run: |
          pacman --noconfirm -Sy \
          clang \
          cmake \
          cmocka lib32-cmocka \
          cppcheck \
          git \
          lib32-systemd \
          libinput \
          llvm \
          ninja \
          valgrind \
          wayland lib32-wayland \
          wayland-protocols \
          yaml-cpp

      - uses: actions/checkout@v4

      # magic numbers and names not available in environment
      - name: set permissions
        shell: sh -e {0}
        run: |
          groupadd --gid 118 docker
          useradd -m -s /bin/sh --uid 1001 --gid docker runner
          chown -R runner:docker .

      - run: make CC=gcc   CXX=g++     clean all

      - run: make CC=gcc   CXX=g++     clean test

      - run: make CC=clang CXX=clang++ clean all

      - run: make CC=clang CXX=clang++ clean test

      - run: make                      clean cppcheck

      - run: make CC=gcc   CXX=g++     clean test-vg

      - run: make CC=clang CXX=clang++ clean test-vg

      - run: |
          git clone https://aur.archlinux.org/lib32-yaml-cpp.git /tmp/lib32-yaml-cpp
          sed -i -E 's/-DYAML_CPP_BUILD_TESTS=ON/-DYAML_CPP_BUILD_TESTS=OFF/g' /tmp/lib32-yaml-cpp/PKGBUILD
          makepkg --nocheck OPTIONS=-debug PKGEXT='.pkg.tar' --dir /tmp/lib32-yaml-cpp

      - run: pacman -U --noconfirm /tmp/lib32-yaml-cpp/*.pkg.tar
        shell: sh -e {0}

      - run: make CC=gcc   CXX=g++        MFLAGS=-m32 clean test

      - run: make CC=clang CXX=clang++    MFLAGS=-m32 clean test

      - run: make CC=gcc      CXX=g++     MFLAGS=-m32 clean test-vg

      - run: make CC=clang    CXX=clang++ MFLAGS=-m32 clean test-vg

      - run: |
          git clone https://aur.archlinux.org/include-what-you-use.git /tmp/include-what-you-use
          makepkg OPTIONS=-debug PKGEXT='.pkg.tar' --dir /tmp/include-what-you-use

      - run: pacman -U --noconfirm /tmp/include-what-you-use/*.pkg.tar
        shell: sh -e {0}

      - run: make clean iwyu

